<h2>Welcome <%= @first_player.name %>!</h2>
<h2>Welcome <%= @second_player.name %>!</h2>
<h2><%= @first_player.name %> hit points: <%= @first_player.hit_points %></h2>
<h2><%= @second_player.name %> hit points: <%= @second_player.hit_points %></h2>

<form action="/attack" method='post'>
  <input type="submit" value="Attack" />
</form>